*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

section{
    background-image: url("./imagens/doguinho.png") ;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100vh ;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

div{
    width: 40%;
    border: solid green;
    margin-right: 5rem;
}


h2{
    font-size: 3.5rem;
    color: white;
}

p{
    font-size: 2.5rem;
    color: white;
    margin: 2rem 0 2rem 0;
}

button{
    background-color: white;
    color: black;
     width: 12vw; 
    height: 7vh;
    border-radius: 2rem;
    /* border-radius: 40px; */
    font-size: 2rem;
}